.flex-container {
	display: flex;
	flex-direction: column;
	height: 300px;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	margin-top: 150px;
}

.flex-container img { 
	display: block;
 	margin: 20px;
 	height: 92px;
 	width: 272px;
}

.flex-container input {
	width: 450px;
	height: 38px;
	border: 1px solid #D3D3D3;
	box-shadow: 1px 2px 8px 0px rgba(219,219,219,1);
	margin-bottom: 10px;
}

.flex-container button {
	padding: 10px 10px 10px 10px;
	font-family: sans-serif;
	font-weight: bold;
	background-color: #F8F8F8;
	color: #808080;
	margin: 10px;
	border: none;
	font-size: 12px;
	text-align: center;
}

